@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 400ms ease;
}

html
{
    height: 100vh;
}

body
{
    height: 500vh;
}

.animation
{
    height: 100vh;
    width: 100%;
    position: fixed;
}

.portes
{
    width: 11%;
    display: flex;
    z-index: 200;
    position: absolute;
    margin-top: 50vh;
    transform: translateY(-40%) translateX(-100%);
    margin-left: 50%;
}

.devanture
{
    background-image: url('../images/devanture.png');
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
}

.restaurant
{
    background-image: url('../images/Resto.png');
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
}
